:root{
    --red-color:rgba(255, 77, 77, 0.744) ;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;700&family=Josefin+Sans:wght@300;500;700&family=Press+Start+2P&family=Roboto:wght@100;300;500;900&family=Shadows+Into+Light&display=swap');

body{
    margin:0;
    padding:0;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    object-fit: cover;
}

.gif{
    position: fixed;
    left:50%;
    top:50%;
    transform: translateX(-50%)translateY(-50%);

    height:300px;
    width:300px;
    z-index:200;
    
}
#content{
    display:grid;
    grid-template-rows: 70px 70px 1fr;
    height: 100vh;
    transition: 0.5s ease-in-out;
}

header{
    grid-row: 1;
    position: fixed;
    height: 70px;
    top:0;
    width:100%;
    z-index: 101;
    display:flex;
    background-color: rgb(0, 0, 0);
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 0.2rem;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
    box-shadow: 0px 0px 5px black;
    transition: 0.5s ease-in-out;
}

.mobile{
    position: absolute;
    right: 20px;
    z-index: 105;
    height:40px;
    width: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    align-items: center;
    transition: 0.25s ease-in-out;
    display: none;
    cursor: pointer;
}


.piece:nth-child(1){

    width:50px;
    height:5px;
    border-radius: 25px;
    transition: 0.30s ease-in-out;
    background-color: white;
}

.piece:nth-child(2){
    width:50px;
    height:5px;
    border-radius: 25px;
    transition: 0.30s ease-in-out;
    background-color: white;
}

.piece:nth-child(3){
    width:50px;
    height:5px;
    border-radius: 25px;
    transition: 0.30s ease-in-out;
    background-color: white;
}

.mobile:hover{
    opacity: 0.5;
}
.food{
    color:rgba(254, 254, 21, 0.831);
    cursor: pointer;    
    font-weight: 700;
    font-size: 2rem;
    transition: 0.25s ease-in-out;
}

.links{
    list-style: none;
    display:flex;
    justify-content: space-around;
    width:30%;
    position: relative;
    transition: 0.35s ease-in-out;
    z-index: 200;
    align-items: center;
}

.tab{
    cursor: pointer;
    transition: 0.25s ease-in-out;
    color:white;
    font-weight: 500;
    
}

.tab{
    transition: border-color 0.30s ease-in-out;
    text-decoration: none;
    color:white;
    border-bottom: 1.5px solid transparent;
}

.tab:hover{
    border-color: white;
}

.food:hover, .introtext h4:hover{
    opacity: 0.5;
}

.current{
    color: var(--red-color) ;
    transition: 0.25s ease-in-out;
}

.home, .menu, .contact{
    transition: 0.25s ease-in-out;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    width:600px;
    border-radius: 25px;
    height:600px;
    background-color: black;

}

.background{
    grid-row: 2/-1;
    
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width:100vw;
    height:100%
}

.introtext{
  
    grid-row: 1/-1;
    position: absolute;
    border-radius: 25px;
    
    width: min(65%, 600px);
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.introtext h3{
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--red-color);
    font-size: 3.5rem;    
    color:rgba(254, 254, 21, 0.831);
    padding:25px;
    border-radius: 25px;
    transition: 0.25s ease-in-out;
    user-select: none;
    box-shadow: 0px 0px 5px white;
    text-shadow: 0px 0px 5px white;
}

.introtext h4{
    margin-top: -25px;
    background-color: rgba(255, 255, 255, 0.831);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding:10px;
    user-select: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-shadow: 0px 0px 2px rgb(0, 0, 0);

}

.board{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    padding:60px;
    gap:20px;
    width: clamp(250px, 60vw, 800px);
    background-color:rgba(255, 255, 255, 0.848);
    height:fit-content;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.278);
    /* overflow: auto; */
}

.boardcover{
    grid-row: 3/-1;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.titl{
    transition: 0.5s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
    grid-row: 2;
}

.item{
    aspect-ratio: 1/1;
    display:flex;
    cursor: pointer;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 50px;
    background-color:rgba(254, 254, 21, 0.508);
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(254, 254, 21, 0.508);
    align-items: center;
    transition: 0.25s ease-in-out;
}

.item:hover{
    scale: 1.05;
}

.item img{
    height: 200px;
    width: 200px;   
    
    /* object-fit:; */

}

.item h4:nth-child(3){
  margin: 0;
}

.item h4:nth-child(1){
    margin: 0;
    margin-bottom: -10px;
    color: var(--red-color)
}

.title{
    transition: 0.25s ease-in-out;
    opacity: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-decoration:underline;
}

.smallMenu{
    width:100%;
    height:70px;
    background-color:black;
    z-index: -10;
    top:0;
    transition: 0.30s ease-in-out;
    position: absolute;
    display:flex;
    justify-content: center;

}

@media (max-width: 900px) {
    .links{
        display:none;
        justify-content: space-evenly;
        opacity: 0;
        gap:0;
        font-size: 1.5rem;
        width: 100%;
        padding: 0;
        
    }
    
    .mobile{
        display:flex;
    }

    .board{
        padding:25px;
    }

    header{
        justify-content: center;
    }
}   